span
  | Identifiant: <i>#{email}</i>
br
br
span
  | Pour activer le compte, cliquer <a href="https://#{data.host}/api/users/#{data.user._id}/password-reset?uuid=#{data.token}" target="_blank">ici</a>.
