body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.debug {
  color: blue;
}
div.info {
  color: green;
}
div.warn {
  color: yellow;
}
div.error {
  color: red;
}
