extends ../layout

block content
  h1 Logging
  div#logging

block footer
  script(type='text/javascript', src="/socket.io/socket.io.js")
  script.
    var ioSocketId = '#{id}';
  script(type='text/javascript', src='/javascripts/admin/logging.js')
