extends ../layout

block content
  h1 Logging
  div#logging

  script(src="/socket.io/socket.io.js")
  script(type='text/javascript').
    var socket = io.connect(window.location.host + '/#{id}');
    socket.on('data', function(data) {
      console.log(data);
      var div = document.getElementById('logging');
      div.innerHTML =
        '<div class="row">' +
        '<div>' + new Date(data.time) + '</div>' +
        ' - ' +
        '<div class="' + data.level + '">' + data.level + '</div>' +
        ' : ' +
        '<div>' + '[ ' + data.logger + ' ]' + '</div>' +
        ' ' +
        '<div>' +  data.msg + '</div>' +
        '</div>' +
        div.innerHTML;
    });

