extends layout

block head
  link(rel='stylesheet', href='https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css')
  link(rel='stylesheet', href='/modules/TableTools/css/dataTables.tableTools.css')

block content
  h1 Users
  div()
  table(id='datatable', cellpadding="0", cellspacing="0", border="0", class="table table-striped table-bordered table-hover")
    thead
      th Email
      th Validated
      th Administrator
    tbody

block footer
  script(type='text/javascript', src='https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='/modules/TableTools/js/dataTables.tableTools.js')
  script(type='text/javascript', src='/modules/tableEditor/js/tableEditor.js')
  script(type='text/javascript', src='/javascripts/users.js')
