{
  "bufferSize": 100,
  "outputs": {
    "console": {
      "level": "debug", "colorize": true, "timestamp": true,
      "dumpExceptions": true, "showStack": true
    }
  },
  "levels": {
    "I18n": { "console": "info" }
  },
  "test": {
  	"outputs": {}
  }
}
